button {
  width: 250px;
  height: 50px;
  margin: 0 auto;
  padding: 0;
  display: inline-block;
  text-align: center;
  line-height: 50px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border: 10;
}
button:hover {
  background-color: white;
  color: black !important;
}
.divider {
  width: 5px;
  height: auto;
  display: inline-block;
}
.Bet {
  /* outline: 0.75px solid whitesmoke; */
  border-radius: 1.6em;
  background-color: #efe7bd;
  padding: 20px;
}

.Bet-information h2 {
  color: #484742;
  /* text-transform: capitalize; */
  /* text-decoration: underline; */
  text-align: left;
}

.Bet-information p {
  color: #484742;
  background-color: rgb(161 190 141 / 55%);
  border-radius: 0.5em;
  font-size: 1.75em;
  font-weight: bold;
}

p {
  align-items: left;
  color: #484742;
}
